.modal-dialog {

  &__width {


    @media only screen and (min-width: 640px) {
      max-width: 600px;
    }


    @media only screen and (min-width: 800px) {
      max-width: 770px;
    }

  }

}

.modal-xl {

  @media only screen and (min-width: 1200px) {
    max-width: 1024px;
  }

}

.modal-sending-message {

  background: $white-color-one;
  box-shadow: 0 28px 59px $black-color-rgba-one, 0 40px 120px $black-color-rgba-nine;
  padding: 52px;
  width: 100%;
  height: 427px;
  justify-content: center;

  @media only screen and (max-width: 799.98px) {
    height: auto;
    padding: 20px;
  }

  .modal-body {

    width: 100%;
    flex: 0 0 100%;
    justify-content: center;
    @include flex-center-wrap;
    text-align: center;

    .button__sm_gold {

      width: 158px;
      margin: auto;

    }

  }

  svg {

    @media only screen and (max-width: 799.98px) {
      width: 60px;
      height: 60px;
    }

  }

  &__title {

    font-family: $verdana-semi-bold;
    font-size: 30px;
    text-transform: uppercase;
    color: $red-color-one;
    padding-bottom: 5px;
    padding-top: 30px;

    @media only screen and (max-width: 799.98px) {
      font-size: 25px;
      padding-bottom: 0;
    }

  }

  &__subtitle {

    font-family: $verdana-semi-bold;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    color: $black-color-two;
    padding-bottom: 20px;

    @media only screen and (max-width: 799.98px) {
      font-size: 25px;
      padding-bottom: 10px;
    }

  }

  &__text-small {

    font-family: $verdana-light;
    font-size: 18px;
    color: $grey-color-two;
    padding-bottom: 37px;

    @media only screen and (max-width: 799.98px) {
      font-size: 16px;
    }

  }


}
