.numbers-block {

  display: flex;
  position: relative;

  &__theme {

    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

  }

  &__counter {

    display: flex;
    font-size: 72px;
    font-family: $font-family-bold;
    width: 100%;

    @media only screen and (max-width: 1640px) {
      margin-top: 5px;
    }

    @media only screen and (max-width: 1280px) {
      font-size: 60px;
      margin-top: 25px;
    }

    @media only screen and (max-width: 992px) {
      margin-top: 0;
    }

    @media only screen and (max-width: 768px) {
      font-size: 40px;
      margin-top: 30px;
    }

  }

  &__svg-icon {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: 10px;

    img {

      margin-top: 10px;
      display: block;
      height: 92px;

      @media only screen and (max-width: 992px) {
        height: 65px;
      }

      @media only screen and (max-width: 768px) {
        height: 60px;
      }

    }

    svg {

      margin-left: -13px;

    }

  }

  &__description {

    text-transform: uppercase;
    font-size: 14px;
    font-family: $font-family-bold;

    @media only screen and (max-width: 768px) {
      font-size: 12px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 10px;
    }

  }

  &__text {

    &_middle {

      font-size: 24px;
      display: flex;
      align-items: flex-end;
      align-content: flex-end;
      margin-bottom: 20px;

      @media only screen and (max-width: 1280px) {
        margin-bottom: 13px;
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: 9px;
        font-size: 18px;
      }

    }

  }

}
