mixin owl-carousel-activity
  .owl-carousel.owl-theme.owl-carousel-activity.wow.fadeInUp(data-wow-delay='0.5s', data-wow-duration='0.4s')
    .item
      img(src='../assets/img/activity/GF.jpg' alt='')
    .item
      img(src='../assets/img/activity/gmp.jpg' alt='')
    .item
      img(src='../assets/img/activity/KEF.jpg' alt='')
    .item
      img(src='../assets/img/activity/maks.jpg' alt='')
    .item
      img(src='../assets/img/activity/RMEF.jpg' alt='')
    .item
      img(src='../assets/img/activity/synergy.jpg' alt='')
    .item
      img(src='../assets/img/activity/ugol.jpg' alt='')
