.customer-retention {

  display: block;
  z-index: -1000;

  &__wrapper {

    padding: 64px 0 40px;
    border-radius: 3px !important;
    border: none !important;
    box-shadow: 0 28px 59px $black-color-rgba-one, 0 40px 120px $black-color-rgba-nine;
    position: relative;

    .close {

      position: absolute;
      right: 0;
      top: 0;
      margin-right: 10px;
      margin-top: 10px;
      width: 20px;
      height: 20px;
      opacity: 1;

      &:before {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        background: $black-color-two;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(46deg);
        transition: all .3s ease;

      }

      &:after {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        background: $black-color-two;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-46deg);
        transition: all .3s ease;

      }

      &:hover {

        &:before {

          transform: translate(-50%, -50%) rotate(-46deg);
          background: $red-color-one;

        }

        &:after {

          transform: translate(-50%, -50%) rotate(46deg);
          background: $red-color-one;

        }


      }

    }

  }

  &__content {

    h2 {

      margin-bottom: 12px;
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      position: relative;
      display: block;
      line-height: 1.3em;
      padding: 0;

      &:before {

        content: '';
        width: 6px;
        height: 100%;
        background: $red-color-one;
        display: block;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;

      }

      @media only screen and (max-width: 1199.98px) {
        font-size: 25px;
      }

      @media only screen and (max-width: 991.98px) {
        font-size: 20px;
      }

      @media only screen and (max-width: 575.98px) {
        padding: 0 20px;
      }

      @media only screen and (max-width: 480px) {
        font-size: 18px;
        padding: 0 10px 0;
      }

      br {

        @media only screen and (max-width: 991.98px) {
          display: none;
        }

      }

    }

    p {

      padding-bottom: 30px;
      text-align: center;

      @media only screen and (max-width: 991.98px) {
        padding-right: 15px;
        padding-left: 15px;
      }

      @media only screen and (max-width: 575.98px) {
        padding-right: 20px;
        padding-left: 20px;
      }

      @media only screen and (max-width: 480px) {
        font-size: 16px;
      }

      br {

        @media only screen and (max-width: 991.98px) {
          display: none;
        }

      }

    }

  }

  &__form {

    padding: 0 195px 20px;

    @media only screen and (max-width: 1199.98px) {
      padding: 0 130px 37px;
    }

    @media only screen and (max-width: 991.98px) {
      padding: 0 40px 0;
    }

    @media only screen and (max-width: 360px) {
      padding: 0 20px 0;
    }

    .form-row {

      padding-bottom: 1rem;

      .invalid-tooltip {

        width: 40%;

        @media only screen and (max-width: 991.98px) {
          width: 50%;
        }

        @media only screen and (max-width: 920px) {
          transform: translate(0, -130px);
          left: 0;
          width: 100%;
          text-align: center;
        }

        &:before {

          @media only screen and (max-width: 920px) {
            display: none;
          }

        }


      }

    }

    .was-validated {

      .form-control:invalid ~ .invalid-tooltip {

        @media only screen and (max-width: 920px) {
          transform: translate(0, 35px);
        }

      }

    }

  }

}

.modal-backdrop.fade.show {

  display: block;
  z-index: -10;
  visibility: hidden;

}
