//White-color
$white-color-one: #fff;

//White-color
$white-color-rgba-one: rgba(255,255,255,.2);
$white-color-rgba-two: rgba(255,255,255,.95);
$white-color-rgba-three: rgba(255,255,255,.3);
$white-color-rgba-four: rgba(250,250,250,.9);

//Black-color
$black-color-one: #000000;
$black-color-two: #242424;

//Black-color-rgba
$black-color-rgba-one: rgba(0,0,0,.3);
$black-color-rgba-two: rgba(0, 0, 0, .4);
$black-color-rgba-three: rgba(0, 0, 0, .5);
$black-color-rgba-four: rgba(0, 0, 0, .4);
$black-color-rgba-five: rgba(0, 0, 0, .24);
$black-color-rgba-six: rgba(0, 0, 0, .12);
$black-color-rgba-seven: rgba(0, 0, 0, .25);
$black-color-rgba-eight: rgba(0, 0, 0, .8);
$black-color-rgba-nine: rgba(0, 0, 0, .6);

//Grey-color
$grey-color-one: #C3C3C3;
$grey-color-two: #7D838A;
$grey-color-three: #C4C4C4;
$grey-color-four: #C7C7C7;
$grey-color-five: #4F5051;
$grey-color-six: #EFEFEF;
$grey-color-seven: #F4F4F4;
$grey-color-eight: #B2C1D4;

//Grey-color-rgba
$grey-color-rgba-one: rgba(189, 189, 189, 0.3);
$grey-color-rgba-two: rgba(189, 189, 189, 0);
$grey-color-rgba-three: rgba(0, 51, 153, 0.1);
$grey-color-rgba-four: rgba(0, 51, 153, 0.05);

//Red-color
$red-color-one: #DE0000;
$red-color-two: #E22C2C;
$red-color-three: #D85857;

//Red-rgba-color
$red-rgba-one: rgba(222,0,0,.1);
$red-rgba-two: rgba(222,0,0,.5);
$red-rgba-three: rgba(222,0,0,.8);
$red-rgba-four: rgba(226,44,44,.5);

//Blue-color
$blue-color-one: #003399;
$blue-color-two: #385da4;
