//Way-img
$way-img: "../img/" !default;
$img-static: "https://static.rustransfer.org/icon/";

//Way-fonts
$way-font-harmonia: "../fonts/harmonia" !default;
$verdana-font-path: "../fonts/verdana/" !default;

//Font-family
$font-family-italic: 'HarmoniaSansProCyr-Italic', sans-serif;
$font-family-light: 'HarmoniaSansProCyr-Light', sans-serif;
$font-family-light-it: 'HarmoniaSansProCyr-LightIt', sans-serif;
$font-family-regular: 'HarmoniaSansProCyr-Regular', sans-serif;
$font-family-black: 'HarmoniaSansProCyr-Black', sans-serif;
$font-family-black-it: 'Harmonia Sans Pro Cyr', sans-serif;
$font-family-bold: 'HarmoniaSansProCyr-Bold', sans-serif;
$font-family-bold-it: 'HarmoniaSansProCyr-BoldIt', sans-serif;
$font-family-bold-cond: 'HarmoniaSansProCyr-BoldCond', sans-serif;
$font-family-semi-bd: 'HarmoniaSansProCyr-SemiBd', sans-serif;
$font-family-semi-bd-it: 'HarmoniaSansProCyr-SemiBdIt', sans-serif;
$font-family-semi-bd-cn: 'HarmoniaSansProCyr-SemiBdCn', sans-serif;
$font-family-semi-cond: 'HarmoniaSansProCyr-Cond', sans-serif;

$verdana-light: 'Verdana-Pro-Light', sans-serif;
$verdana-light-italic: 'Verdana-Pro-LightItalic', sans-serif;
$verdana-cond-light: 'Verdana-Pro-Cond-Light', sans-serif;
$verdana-italic: 'Verdana-Pro-Italic', sans-serif;
$verdana-cond-italic: 'Verdana-Pro-CondItalic', sans-serif;
$verdana-cond-light-italic: 'Verdana-Pro-CondLightItalic', sans-serif;
$verdana-regular: 'Verdana-Pro-Regular', sans-serif;
$verdana-semi-bold: 'Verdana-Pro-SemiBold', sans-serif;
$verdana-semi-bold-italic: 'Verdana-Pro-SemiBoldItalic', sans-serif;
$verdana-cond-semi-bold: 'Verdana-Pro-CondSemiBold', sans-serif;
$verdana-cond-semi-bold-italic: 'Verdana-Pro-CondSemiBoldItalic', sans-serif;
$verdana-bold: 'Verdana-Pro-Bold', sans-serif;
$verdana-bold-italic: 'Verdana-Pro-BoldItalic', sans-serif;
$verdana-cond-bold: 'Verdana-Pro-CondBold', sans-serif;
$verdana-cond-bold-italic: 'Verdana-Pro-CondBoldItalic', sans-serif;
$verdana-black: 'Verdana-Pro-Black', sans-serif;
$verdana-black-italic: 'Verdana-Pro-BlackItalic', sans-serif;
$verdana-cond-black: 'Verdana-Pro-CondBlack', sans-serif;
$verdana-cond-black-italic: 'Verdana-Pro-CondBlackItalic', sans-serif;

