.z-widget-sidebar-callback {

  input[type=submit] {

    background: $blue-color-one !important;
    color: $white-color-one !important;
    box-shadow: -2px 2px 2px $black-color-rgba-two !important;
    transition: all .5s ease !important;

    &:hover {

      background: $red-color-one !important;
      transform: translateY(-4px) scale(1.02) !important;
      box-shadow: 0 15px 22px $black-color-rgba-three !important;
      color: $white-color-one !important;

    }

  }

  .powered_by {

    display: none !important;

  }

  button {

    background: $red-color-two !important;
    color: $white-color-one !important;
    border-radius: 2px !important;
    box-shadow: -2px 2px 2px $black-color-rgba-two !important;
    transition: all .3s ease !important;

    &:hover {

      transform: translateY(-4px) scale(1.02) !important;
      box-shadow: 0 8px 8px $black-color-rgba-five, 0 0 8px $black-color-rgba-six !important;
      color: $white-color-one !important;
      text-decoration: none !important;
      background: $red-color-three !important;

    }

  }

}

.z-widget-sidebar {

  .z-widget-sidebar-call {

    position: relative;

    &:before {

      content: '';
      width: 72px;
      height: 72px;
      border-radius: 50%;
      border: 6px solid $blue-color-one;
      margin: -20px auto 20px;
      position: relative;
      background: url('#{$way-img}/zadarma/valentina.jpg') no-repeat center / 100%;
      display: block;
    }

  }

  .z-m-w__terms {

    display: flex;

  }

}

.z-widget-sidebar-photo {

  display: none;

}


.z-widget-simple-btn {

  background: $red-color-one !important;
  right: 20px !important;

  &:before {

    background: $red-rgba-two !important;

  }

  &:after {

    border-color: $red-rgba-two !important;

  }

}


