.header-content {

  position: relative;
  overflow: hidden;
  height: 100%;
  @include flex-center-wrap();
  z-index: 0;

  @media only screen and (max-width: 1024px) and (min-width: 0px) {
    background: none;
  }

  @media only screen and (max-width: 1280px) and (min-width: 1024px) {
    background: url("#{$way-img}header/background.jpg") no-repeat center / 1600px;
  }

  @media only screen and (max-width: 1920px) and (min-width: 1280px) {
    background: url("#{$way-img}header/background.jpg") no-repeat center/ 1920px;
  }

  @media only screen and (min-width: 1920px) {
    background: url("#{$way-img}header/background.jpg") no-repeat center / cover;
  }

  @media only screen and (max-width: 480px) {
    padding-bottom: 50px;
  }

  &:before {

    content: '';
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    left: 0;
    top: 0;
    z-index: 0;

    @media only screen and (min-width: 0px) and (max-width: 480px) {

      background: $white-color-one url("#{$way-img}header/background.jpg") no-repeat center / 1100px;
      display: block;

    }

    @media only screen and (min-width: 480px) and (max-width: 768px) {

      background: $white-color-one url("#{$way-img}header/background.jpg") no-repeat center / 1400px;
      display: block;

    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {

      display: block;
      background: $white-color-one url("#{$way-img}header/background.jpg") no-repeat center / 1600px;

    }

  }

  &__main {

    color: $white-color-one;
    position: relative;
    width: 100%;

  }

  &__main-block {

    position: relative;
    z-index: 1000;
    left: 0;
    top: 0;
    margin-bottom: 3rem;
    padding-top: 175px;
    width: 100%;

    @media only screen and (max-width: 1280px) {
      padding-top: 120px;
    }

    @media only screen and (max-width: 1024px) {
      margin-bottom: 10rem;
    }

    @media only screen and (max-width: 992px) {
      margin-bottom: 5rem;
    }

    @media only screen and (max-width: 576px) {
      padding-top: 90px;
    }

    @media only screen and (max-width: 480px) {
      padding-top: 90px;
      justify-content: center;
    }

    .button__middle_blue {

      display: none;

      @media only screen and (max-width: 992px) {
        display: flex;
      }

      @media only screen and (max-width: 576px) {
        margin: auto;
      }

    }

  }

  &__number-block {

    position: relative;
    z-index: 1000;
    left: 0;
    top: 0;
    margin-top: auto;
    padding-bottom: 16rem;
    width: 100%;

    @media only screen and (max-width: 1280px) {
      padding-bottom: 10rem;
    }

    @media only screen and (max-width: 1024px) {
      padding-bottom: 7rem;
    }

    @media only screen and (max-width: 576px) {
      padding-bottom: 4rem;
    }

    @media only screen and (max-width: 480px) {
      display: none;
    }

    &_col-custom {

      @media only screen and (max-width: 1640px) {
        flex: 0 0 20%;
        max-width: 20%;
      }

      @media only screen and (max-width: 1280px) {
        flex: 0 0 23%;
        max-width: 23%;
      }

      @media only screen and (max-width: 1024px) {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
      }

    }

  }

  &__iframe {

    width: 100%;
    height: 100%;
    position: absolute;

  }

  &__video {

    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;

  }


  &__arrow-down {

    position: relative;
    margin-right: 2rem;
    padding-top: 1rem;

    @media only screen and (max-width: 480px) {
      display: none;
    }

  }

  &__arrow-down-text {

    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    display: inline-flex;

  }

}
